<ion-view view-title="Rolled!">
  <ion-content class="custom-blue">
            <div class="list" ng-repeat="item in items | orderBy:random |limitTo:1"
	      			item="item"
	      			href="#/food/edit/{{item.objectId}}" >

                 <div class="item item-image"
                    item="item"
	      			href="#/art/create/{{item.objectId}}/{{item.imageFile}}"
	      			ng-if="item.imageFile">
		  <img src="{{item.imageFile.url}}">
	      <h4 style="align:center">{{item.Name}}</h4>
	      <p>{{item.Location}}</p>
          <p>{{item.Phone}}</p>     
          <p>{{item.Hours}}</p>     
                </div>

      </div>
      
      <ion-list class="custom-blue">
                <ion-item class="custom-blue">Directions</ion-item>
                <ion-item class="custom-blue" ng-click=checkIn()>CheckIn</ion-item>
                <ion-item class="custom-blue" ng-click=likeButton()>Like</ion-item>
                <ion-item class="custom-blue" ng-click=recommendedButton()>Recommended</ion-item>
                </ion-list>
       <ion-button class="button button-assertive ion-loop" style="width:100%" ng-click="myGoBack()">
                ReRoll
            </ion-button>
    </ion-content>
</ion-view>
