<ion-view view-title="Rolled!">
  <ion-content>
            <div class="list card" ng-repeat="item in items | orderBy: random |limitTo: 1"
	      			item="item"
	      			href="#/food/edit/{{item.objectId}}" >


      <!-- Image File -->
     
	      <p size="1">{{item.Name}}</p>
	      <p size="1">{{item.Location}}</p>


      </div>
       <ion-button class="button button-assertive ion-loop" style="width:100%" ng-click="myGoBack()">
                ReRoll
            </ion-button>
    </ion-content>
</ion-view>
