<ion-view view-title="GSORoulette">
  <ion-content>
        <ion-list>
            <ion-item ng-Click="foodSelect()">Food</ion-item>
            <ion-item >Pub</ion-item>
            <ion-item >Nightlife</ion-item>
            <ion-item >Parks/Greenways</ion-item>
            <ion-item >Movies/Shows</ion-item>
            <ion-item >Art/Museums</ion-item>
 <ion-button class="button button-balanced ion-loop" style="width:100%" ng-click="create()">
                Roll
            </ion-button>
        </ion-list>
  </ion-content>
</ion-view>

