<ion-view class="login" hide-nav-bar="true">
        <ion-content scroll="false" class="login">
              <div class = "col header text-center">
               <img src="resources/LoginLogoSample.png" class = "logo" />
            </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

            <div>
                <a class="wrapper"  ng-click="loginFacebook()">
                <img src="http://i.stack.imgur.com/ZW4QC.png">
                </a>
            </div>
            <!--
            <br>
            <br>
            <a style="color:#FFFFF;">Privacy &and; Terms</a>
            <br>
            <br>
            <a style="color:#FFFFF;">We Will not post your status on Facebook</a>

-->
    </ion-content>
</ion-view>