<ion-view class="login" hide-nav-bar="true">
        <ion-content scroll="false" class="login">
              <div class = "col header text-center">
               <img src="resources/LoginLogoSample.png" class = "logo" />
            </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

            <div>
                <a class="wrapper"  ng-click="loginFacebook()">
                <img src="http://i.stack.imgur.com/ZW4QC.png">
                </a>
            </div>
    </ion-content>
</ion-view>