<ion-view class="custom-blue" hide-nav-bar="true">
        <ion-content scroll="false" class="login">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

            <div>
                <a class="wrapper"  ng-click="loginFacebook()">
                <img src="http://i.stack.imgur.com/ZW4QC.png">
                </a>
            </div>
    </ion-content>
</ion-view>