<ion-view view-title="Rolled!">
  <ion-content >
            <div class="list card" ng-repeat="item in items | orderBy:random |limitTo: 1"
	      			item="item"
	      			href="#/food/edit/{{item.objectId}}" >



		  <img src="{{item.imageFile.url}}">
	      <h4 style="align:center">{{item.Name}}</h4>
	      <p>{{item.Location}}</p>
          <p>{{item.Phone}}</p>     
          <p>{{item.Hours}}</p>     


      </div>
       <ion-button class="button button-assertive ion-loop" style="width:100%" ng-click="myGoBack()">
                ReRoll
            </ion-button>
    </ion-content>
</ion-view>
