@font-face {
    font-family: 'circulamedium';
    src: url('fonts/circulamedium.eot');
    src: url('fonts/circulamedium.eot') format('embedded-opentype'),
         url('fonts/circulamedium.woff2') format('woff2'),
         url('fonts/circulamedium.woff') format('woff'),
         url('fonts/circulamedium.ttf') format('truetype'),
         url('fonts/circulamedium.svg#circulamedium') format('svg');
}

.body{
    font-family: "circulamedium" !important;
    font-size: 21px;
}
